@import "../imports/variables.css";

.cosmology-banner,
.evolution-banner,
.biology-medicine-banner,
.robotics-ai-banner,
.ecology-banner {
    position: relative;
}

.cosmology-banner h1,
.evolution-banner h1,
.biology-medicine-banner h1,
.robotics-ai-banner h1,
.ecology-banner h1 {
    font-size: 2.5em;
    width: 100%;
    color: #FFF;
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cosmology-banner__image,
.evolution-banner__image,
.biology-medicine-banner__image,
.robotics-ai-banner__image,
.ecology-banner__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cosmology,
.robotics-ai {
    background: var(--background-section-4);
}

.cosmology-content,
.evolution-content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px 50px;
}

.cosmology-image-container,
.evolution-image-container,
.biology-medicine-image-container,
.robotics-ai-image-container,
.ecology-image-container {
    margin: 30px auto;
}

.cosmology__image,
.evolution__image,
.biology-medicine__image,
.robotics-ai__image {
    width: 200px;
}

.ecology__image {
    width: 300px;
}

.cosmology-text p,
.biology-medicine-text p,
.robotics-ai-text p {
    color: #FFF;
}

.cosmology-text p,
.evolution-text p,
.biology-medicine-text p,
.robotics-ai-text p,
.ecology-text p {
    max-width: 500px;
}

.biology-medicine {
    background: var(--background-section-3);
}

.biology-medicine-container,
.ecology-container,
.robotics-ai-content {
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px 50px;
}

.biology-medicine-content,
.robotics-ai-content,
.ecology-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.biology-medicine-image-container,
.biology-medicine-text,
.robotics-ai-image-container,
.robotics-ai-text,
.ecology-image-container,
.ecology-text {
    flex: 1;
}

.biology-medicine-image-container,
.robotics-ai-image-container,
.ecology-image-container {
    text-align: center;
}

.ants__image,
.heart__image,
.warming__image {
    width: 300px;
    margin-top: 60px;
}

.robotics-ai,
.ecology {
    padding-bottom: 50px
}
