@import "../imports/variables.css";

.learn__image {
    max-height: 800px;
    width: 100%;
    object-fit: cover;
}

.for-kids-content-1,
.for-kids-content-2,
.for-teachers-content,
.for-researchers-content {
    max-width: 1200px;
}

.for-kids-content-1,
.for-kids-content-2,
.for-researchers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-headers {
    display: block;
    text-align: center;
    padding-top: 10px;
}

.page-headers,
.for-kids-p,
.researchers-text {
    max-width: 500px;
}

.page-headers h2 {
    text-align: left;
}

.for-kids-p,
.teacher-text-1,
.teacher-text-2{
    flex: 1;
    text-align: left;
}

.mammoth-container {
    flex: 1;
    text-align: center;
    margin: 30px auto;
}

.skeleton-mammoth__image {
    width: 85%;
    max-width: 600px;
    object-fit: cover;
    margin: auto;
}

.for-kids-p {
    flex: 1;
}

.for-kids-container-2 {
    background: var(--background-section-3);
    margin: 0px auto;
}

.young-stars-club,
.holiday-clubs{
    flex: 1;
    text-align: center;
    margin: 70px 8%;
}

.holiday-clubs {
    margin-top: 30px;
}

.young-stars-club p,
.holiday-clubs p,
.for-teachers-content p {
    text-align: left;
    color: #FFF;
    max-width: 500px;
    margin: 30px auto auto;
}

.for-teachers-content p a {
    color: #FFF;
}

.for-kids__images {
    max-width: 500px;
    object-fit: cover;
}

.for-teachers {
    background: var(--background-section-2);
    text-align: center;
}

.for-teachers-content {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: auto;
}

.teacher-image-container,
.researchers-image-container {
    margin: 30px 8%;
}

.teacher-image-container {
    margin-top: 30px;
}

.teacher-text-2 p {
    margin-top: 0px;
}

.teacher__image {
    max-width: 350px;
    object-fit: cover;
    margin: 0;
}

.for-teachers h1 {
    color: #FFF;
    padding: 40px 0px 0px;
    margin: 0 auto;
}

.for-researchers,
.for-kids-content-1,
.for-teachers {
    padding-bottom: 70px;
}

.researchers__image {
    max-width: 350px;
    object-fit: cover;
}

.researchers-text,
.researchers-image-container {
    flex: 1;
}