@import "../imports/variables.css";

main {
    line-height: 0px;
}

.explore-together {
    position: relative;
}

.explore-together h1 {
    font-size: 1.75em;
    color: #FFF;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explore-together__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.for-kids {
    background: var(--background-section-1);
}