@media (min-width: 400px) {
    .home-page-info,
    .home-page-info-purpose {
        max-width: 300px;
    }
}

@media (min-width: 510px) {
    p {
        font-size: 1.5em;
    }

    .explore-together h1,
    .cosmology-banner h1,
    .evolution-banner h1,
    .biology-medicine-banner h1,
    .robotics-ai-banner h1,
    .ecology-banner h1 {
        font-size: 3em;
        top: 30%;
    }

    .home-page-info,
    .home-page-info-purpose {
        max-width: 400px;
        margin-left: 5%;
    }

    .page-headers,
    .cosmology-text,
    .evolution-text {
        margin: auto;
    }

    .cosmology__image,
    .evolution__image {
        width: 250px;
    }
}

@media (min-width: 600px) {
    .nav-ul a {
        font-size: 1.6em;
    }

    .active-mobile {
        text-underline-offset: 7px;
    }

    .footer-container {
        flex-direction: row;
        max-width: 600px;
        margin: auto;
    }

    .location {
        flex: 0.9;
        margin-top: 40px;
    }
}

@media (min-width: 850px) {
    .explore-together h1,
    .cosmology-banner h1,
    .evolution-banner h1,
    .biology-medicine-banner h1,
    .robotics-ai-banner h1,
    .ecology-banner h1 {
        font-size: 4em;
        top: 31%;
    }

    .explore-together__image,
    .cosmology-banner__image,
    .evolution-banner__image,
    .biology-medicine-banner__image,
    .robotics-ai-banner__image,
    .ecology-banner__image {
        height: 300px;
    }

    .museum-satellite-container {
        flex-direction: row;
        margin-top: 70px;
    }

    .home-page-exhibits-content,
    .home-page-purpose-content {
        padding: 50px 0px 60px;
    }

    .cta {
        font-size: 2.5em;
        width: 180px;
        height: 55px;
        line-height: 55px;
        border-radius: 25px;
        transition: 0.4s ease-in-out;
    }

    .cta:hover {
        background: #348A44;
        border-radius: 40px;
    }

    .home-page-exhibits-content {
        flex-direction: row;
    }

    .home-page-purpose-content,
    .for-researchers-content {
        flex-direction: row-reverse;
    }

    .home-page-info,
    .home-page-info-purpose {
        max-width: 500px;
    }

    .home-page-info p,
    .home-page-info-purpose p {
        margin: 70px auto;
    }

    .dinosaur-icon {
        margin: 0;
    }

    .home-page-images-small {
        width: 50%;
    }

    .robot-arm-image {
        width: 45%;
    }

    .for-kids {
        flex-direction: row;
    }

    .for-teachers-content {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
    }

    .teacher-image-container {
        grid-row: 1/3;
        grid-column: 2;
    }

    .for-researchers-content {
        margin-top: 40px;
    }

    .cosmology__image,
    .evolution__image,
    .biology-medicine__image {
        width: 300px;
    }

    .robotics-ai__image {
        width: 350px;
    }

    .ants__image,
    .heart__image,
    .ecology__image {
        width: 450px;
    }

    .cosmology-content,
    .evolution-content,
    .robotics-ai-content,
    .ecology-container {
        padding: 90px 0px 90px;
    }

    .biology-medicine-container {
        padding: 90px 0px 120px;
    }
}

@media (min-width: 1210px) {
    .active-mobile {
        text-decoration: none;
    }

    .logo {
        margin: 10px 5px 8px 10px;
        width: 75px;
    }

    #community {
        transform: translateY(17px);
    }
    
    #science-museum {
        transform: translateY(43px);
    }

    nav {
        height: 100px;
    }

    nav a {
        font-size: 1.8em;
    }

    .nav-ul {
        clear: none;
        float: right;
        max-height: none;
        margin-top: 13px;
        box-shadow: none;
    }

    .nav-ul a {
        font-size: 1.7em;
    }

    nav li {
        float: left;
        overflow: hidden;
    }

    nav li a::before {
        content: "";
        padding: 10px;
        height: 10px;

    } 

    nav li a {
        padding: 19px 7px;
    }

    #a-explore {
        margin-top: 0px;
    }

    #a-get-involved {
        margin-bottom: 0px;
    }

    .menu-icon {
        display: none;
    }

    .hover-underline-effect {
        display: inline-block;
        position: relative;
        padding-bottom: 2px;
    }
    
    .hover-underline-effect::before,
    .footer-nav-effect::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        padding: 0px;
        background-color: #000;
        transition: 0.225s ease-out;
    }
    
    .hover-underline-effect:hover::before {
        width: 100%;
        padding: 1.5px;
    }

    .hover-underline-effect:hover {
        opacity: 70%;
    }

    .active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1.5px;
        background-color: #000;
        transition: 0.225s ease-out;
    }

    .footer-nav-effect::before {
        background-color: #FFF;
    }

    .skeleton-mammoth__image,
    .for-kids__images,
    .teacher__image,
    .researchers__image,
    .cosmology__image,
    .evolution__image,
    .biology-medicine__image,
    .robotics__image,
    .ecology-image {
        border-radius: 30px;
    }

    .for-kids-content-2,
    .biology-medicine-content,
    .robotics-ai-content,
    .ecology-content {
        flex-direction: row;
    }

    .for-kids-content-1,
    .heart-reverse,
    .warming-reverse {
        flex-direction: row-reverse;
    }

    .for-kids-content-2 {
        padding-bottom: 60px;
    }

    .for-kids-content-1,
    .for-kids-content-2,
    .for-researchers-content {
        margin: auto;
    }

    .for-kids-content-1 {
        margin-top: 30px;
    }

    .young-stars-club,
    .holiday-clubs {
        margin: 50px auto;
    }

    .holiday-clubs {
        margin-top: 108px;
    }

    .page-headers {
        max-width: 800px;
    }

    .for-kids-p {
        margin: auto 4%;
    }

    .researchers-text p {
        transform: translateX(-22px);
    }

    .researchers__image {
        transform: translateX(29px);
    }

    .teacher-text-2 p a:hover {
        text-decoration: none;
        opacity: 70%;
    }

    .for-teachers-content {
        max-width: 1200px;
    }

    .cosmology-content,
    .evolution-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .cosmology-image-container,
    .evolution-image-container {
        grid-row: 1/3;
        grid-column: 2;
    }

    .biology-medicine__image {
        margin-left: 40px;
    }

    .ants__image,
    .heart__image,
    .warming__image {
        margin-top: 0px;
    }

    .heart__image {
        margin-right: 105px;
    }

    .heart-reverse {
        margin: 50px auto;
    }

    .tiny-world-text,
    .animals-text {
        transform: translateX(45px);
    }

    .glacier-text {
        transform: translateX(86px);
    }

    .warming-text {
        transform: translateX(-58px);
    }

    .robotics-ai,
    .ecology {
        padding-bottom: 0px
    }

    .footer-nav-effect:hover {
        opacity: 100%;
    }

    .footer-container {
        max-width: 1200px;
        margin: auto;
    }

    .footer-nav {
        display: inline-block;
        flex: 0.65;
    }

    .opening-hours {
        margin-bottom: 50px;
    }

    .location {
        flex: 1;
    }

    .footer-nav {
        margin: 40px auto;
    }

    .footer-nav ul {
        list-style: none;
        margin: 0px auto;
    }

    .footer-nav li {
        margin: 30px auto;
    }

    #footer-link-home {
        margin-top: 12px;
    }

    .footer-nav a {
        color: #FFF;
        font-size: 1.6em;
        text-decoration: none;
    }
}

@media (min-width: 1400px) {
    .nav-ul {
        margin-right: 80px;
    }
}

@media (min-width: 1600px) {
    .nav-ul {
        margin-right: 200px;
    }

    .explore-together h1,
    .cosmology-banner h1,
    .evolution-banner h1,
    .biology-medicine-banner h1,
    .robotics-ai-banner h1,
    .ecology-banner h1 {
        font-size: 6em;
    }

    .explore-together__image,
    .cosmology-banner__image,
    .evolution-banner__image,
    .biology-medicine-banner__image,
    .robotics-ai-banner__image,
    .ecology-banner__image {
        height: 450px;
    }

    .museum-satellite-container,
    .home-page-exhibits-content,
    .home-page-purpose-content {
        max-width: 1200px;
    }

    .robot-arm-icon {
        padding: 25px 0px;
    }

    .dinosaur-image {
        margin-right: 160px;
    }

    .robot-arm-image {
        margin-left: 100px;
    }
}

@media (min-width: 2400px) {
    .explore-together h1,
    .cosmology-banner h1,
    .evolution-banner h1,
    .biology-medicine-banner h1,
    .robotics-ai-banner h1,
    .ecology-banner h1 {
        font-size: 7.2em;
        top: 35%;
    }

    .explore-together__image,
    .cosmology-banner__image,
    .evolution-banner__image,
    .biology-medicine-banner__image,
    .robotics-ai-banner__image,
    .ecology-banner__image {
        height: 650px;
    }
}