@import "../imports/variables.css";

body {
    font-family: var(--text-body), Arial, Helvetica, sans-serif;
    background-color: var(--background-body);
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

main {
    line-height: 0px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-family: var(--text-h2), Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: 500;
}

p {
    font-size: 1.2em;
    margin: 0;
}

.text {
    margin: auto 6%;
    max-width: 500px;
}

.images {
    width: 100%;
    border-radius: 20px;
}

.banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

h1, 
h2, 
p {
    line-height: 30px;
}

.text-container {
    text-align: left;
}

.text-container p {
    text-align: left;
    line-height: 10px;
}

nav a,
a:visited {
    text-decoration: none;
    color: #000;
}

#community {
    position: absolute;
    transform: translateY(14px);
    margin-left: 40px;
}

#science-museum {
    position: absolute;
    transform: translateY(39px);
    margin-left: 14px;
}

nav {
    background: var(--background-nav);
    position: sticky;
    width: 100%;
    height: 83px;
    z-index: 3;
}

.nav-ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: var(--background-nav);
    position: sticky;
    border-radius: 0px 0px 10px 10px;
    border: #000;
    box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.2);
    clear: both;
    max-height: 0px;
    transition: 0.2s ease-out;
}

nav a {
    font-size: 1.4em;
}

.nav-ul a {
    text-align: center;
    display: block;
    font-size: 1.4em;
    padding: 20px;
    text-decoration: none;
}

.logo {
    float: left;
    display: block;
    position: sticky;
    margin: 10px 0px 0px 10px;
    width: 60px;
    height: auto;
}

.menu-icon {
    padding: 25px 20px;
    margin: 16px 5px 0px 0px;
    position: relative;
    float: right;
    cursor: pointer;
}

.nav-icon {
    background: #000;
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
    transition: 0.2s ease-out;
}

.nav-icon:before {
    background: #000;
    content: "";
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    height: 100%;
    width: 100%;
    top: 8px;
}

.nav-icon:after {
    background: #000;
    content: "";
    display: block;
    position: absolute;
    transition: all .2 ease-out;
    height: 100%;
    width: 100%;
    top: -8px;
}

.menu-button {
    display: none;
}

.menu-button:checked ~ .nav-ul {
    display: block;
    max-height: 100vh;
    overflow: hidden;
}

.menu-button:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
.menu-button:checked ~ .menu-icon .nav-icon:before {
    top: 0;
    transform: rotate(-45deg);
}
.menu-button:checked ~ .menu-icon .nav-icon:after {
    top: 0;
    transform: rotate(45deg);

}

#a-explore {
    margin-top: 40px;
}

#a-get-involved {
    margin-bottom: 80px;
}

.active-mobile {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
}

.text-left-aligned {
    text-align: left;
}

footer {
    color: #FFF;
    background: var(--background-footer);
}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.footer-header {
    font-size: 1.5em;
}

.opening-hours {
    flex: 1;
    margin: 40px auto 0px 75px;
}

.opening-hours p {
    font-size: 1.1em;
    margin: 20px auto;
}

.location {
    flex: 1;
    margin: 30px auto 60px 75px;
}

.location p {
    margin: 0px auto;
}

.location p {
    font-size: 1.2em;
}

#address {
    margin: 10px auto 0px;
}

#postcode-city {
    margin: 0px;
}

.footer-links {
    margin-top: 25px;
}

.footer-links a {
    display: block;
    font-size: 1.3em;
    color: #FFF;
    padding: 10px 0px;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.footer-links a:hover {
    text-decoration: none;
    cursor: pointer;
}

.footer-nav {
    display: none;
}