@import "../imports/variables.css";

body {
    font-family: var(--text-body), Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-family: var(--text-h2), Arial, Helvetica, sans-serif;
}

/* Logo text */
.header-nav a,
a:visited {
    text-decoration: none;
    color: #000000;
}

#community {
    position: fixed;
    transform: translateY(18px);
    margin-left: 39px;
}

#science-museum {
    position: fixed;
    transform: translateY(38px);
    margin-left: 14px;
}
/*-----------------------*/

.header-nav {
    background: var(--background-nav);
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-nav ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--background-nav);
}

.header-nav a {
    font-size: 1.4em;
}

.header-nav ul a {
    text-align: center;
    display: block;
    font-size: 1.8em;
    padding: 20px;
    text-decoration: none;
}

.header-nav .logo {
    float: left;
    display: block;
    margin: 10px 0px 0px 10px;
    width: 60px;
    height: auto;
}

.header-nav .nav-links {
    clear: both;
    max-height: 0px;
    transition: max-height .2s ease-out;
}

.header-nav .menu-icon {
    padding: 25px 20px;
    margin: 16px 5px 0px 0px;
    position: relative;
    float: right;
    cursor: pointer
}

.header-nav .menu-icon .nav-icon {
    background: #333;
    display: block;
    height: 3px;
    width: 25px;
    position: relative;
    transition: .2s ease-out;
}

.header-nav .menu-icon .nav-icon:before {
    background: #333;
    content: "";
    display: block;
    position: absolute;
    transition: all .2s ease-out;
    height: 100%;
    width: 100%;
    top: 8px;
}

.header-nav .menu-icon .nav-icon:after {
    background: #333;
    content: "";
    display: block;
    position: absolute;
    transition: all .2 ease-out;
    height: 100%;
    width: 100%;
    top: -8px;
}

.header-nav .menu-button {
    display: none;
}

.header-nav .menu-button:checked ~ .nav-links {
    display: block;
    max-height: 100vh;
}

.header-nav .menu-button:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
.header-nav .menu-button:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.header-nav .menu-button:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

#a-explore {
    margin-top: 100px;
}

#a-get-involved {
    margin-bottom: 100%;
}

@media (min-width: 820px) {
    .header-nav .logo {
        margin: 10px 0px 0px 10px;
        width: 65px;
    }

    .header-nav ul a,
    .header-nav a {
        font-size: 1.4em;
    }

    .header-nav li {
        float: left;
    }

    .header-nav li a {
        padding: 19px 7px;
    }

    #a-explore {
        margin-top: 0px;
    }

    #a-get-involved {
        margin-bottom: 0px;
    }

    .header-nav ul a:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    .header-nav .nav-links {
        clear: none;
        float: right;
        max-height: none;
    }

    .header-nav .menu-icon {
        display: none;
    }
}

@media (min-width: 950px) {
    .header-nav li a {
        padding: 19px 22px;
    }
}

@media (min-width: 1100px) {
    #community {
        transform: translateY(29px);
        margin-left: 30px;
    }
    
    #science-museum {
        transform: translateY(29px);
        margin-left: 134px;
    }
}

@media (min-width: 1280px) {
    .header-nav ul {
        margin-right: 100px;
    }
}

@media (min-width: 1600px) {
    .header-nav ul {
        margin-right: 200px;
    }
}