.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit > * {
    flex: 1
}

h1{
    margin: 50px auto 0px;
    text-align: center;
} 

.submit-text {
    max-width: 438px;
    margin-top: 50px;
}

.submit-p-2 {
    margin-top: 30px;
}

#explore-button-text {
    color: #FFF;
}

.cta {
    margin: 60px auto 80px;
}