:root {
    --text-body: "Futura PT";
    --text-h2: "Arial";
    --text-paragraph: "Futura PT";
    --background-body: #EDEDE8;
    --background-nav: #EDEDE8;
    --background-footer: #30302F;
    --background-section-1: #EDEDE8;
    --background-section-2: #A585C1;
    --background-section-3: #57A3AD;
    --background-section-4: #30302F;
    --background-cta: #3FA652;
    --text-color-white: #FFF;
    --text-color-black: #000000;
}